header{
    background-color: rgb(255, 0, 170);
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

p{padding: 0;
}

aside{
    margin: 1em;
    padding: 1em;
    width:30em;
    background-color: silver;
    color: black;
    text-align: center;

}

aside img{
    width: 200px;
    height: auto;
}
footer{
    margin-top: 1em;
    text-align: center;
    border-top: 1px;
}

